<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Today</title>
    <style>
        body {
            background-color: black;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: 'Open Sans', sans-serif;
        }
        .date {
            font-size: 12vw; /* Font size will be 12% of the window width */
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="date" id="client-date"></div>
    <script>
        function formatDate(date, locale) {
            const options = { year: 'numeric', month: 'short', day: 'numeric' };
            return date.toLocaleDateString(locale, options);
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            const today = new Date();
            const country = "{{ country }}"; // Get the client's country from the server
            const locale = (country && country !== 'None') ? country : undefined; // Use the country as the locale if it is defined and not equal to 'None', otherwise use browser settings
            document.getElementById('client-date').textContent = formatDate(today, locale);
        });
    </script>
</body>
</html>